.cores h1{
    font-size: 28px;
}

#verme{ color: red;}

#verde{ color: green;}

#amar{ color:  yellow;}

#azul{color: blue;}

#ciano{color: cyan;}

#rosa{color: pink;}

#roxo{color: purple;}

#marrom{color: brown}